@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;0,800;1,700&family=Roboto:wght@100;500&display=swap');


* {
    font-family: "Poppins", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.content {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 40% 60%;
}

.image-area {
    background-image: url(https://wallpaperaccess.com/full/439751.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 100%;
    background-color: rgb(0, 0, 0, .8);
    text-align: center;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#logo{
    width: 20%;
    border-radius: 50%;
}


.form-area {
    width: 100%;
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: rgba(217, 217, 219, .2)
}

.form-input {
    background-color: #fff;
    box-shadow: 0px 8px 10px -1px rgba(0, 0, 0, 0.27);
}

form {
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.input {
    display: flex;
    flex-flow: column wrap;
    width: 45%;
    line-height: 1.5rem;
}

input {
    width: 70%;
    height: 1.3rem;
    border-radius: 5px;
    border-color: rgb(133, 130, 126, 0.5);
}

input:focus{
    outline: none;
    border: 2px solid #bd0673;
}

label {
    opacity: .5;
}

button {
    padding: .8rem 1.4rem;
    margin-top: 5vh;
    font-size: 1.2rem;
    border-radius: 10px;
   background-color: #731f66;
   color: white;
   font-weight: 700;
   transition: .3s;
}

button:hover{
    background-color: #ff7ecb;
    color: black;
    cursor: pointer;
}


.dummy-text {
    width: 85%;
    font-weight: 500;
    font-size: 1.4rem;
    color:#bd0673;
}

.floating-text {
    margin: 1rem 0 0 1rem;
    font-size: 1.3rem;
    color: #48484a;
}

.footer{
    font-size: 1.2rem;
    padding: 2em;
}

a{
    text-decoration: none;
    color:#bd0673;
    font-weight: 600;
}

a:hover {
    color: #f76dce;
}